<div class="General">
    <div class="Users">
        Users
    </div>
    <div class="divMenu">

    </div>
    <div class="divTable">
        <p style="font-size: 18px; line-height: 20px; text-align: center">Нельзя удалить проект т.к. по нему еще есть не выполненные задачи</p>

        <input class="submitError" style="margin-left: 220px" type="submit" name="" value="Вернуться к выбору" onclick="document.location='/project'">

    </div>
</div>